!!!
%html
  %head
    %title= APP_NAME
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{"rel" => "stylesheet", "href" => "/css/layout.css", "type" => "text/css"}
    %script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    %script(type='text/javascript' src='/js/delete.js')
      
%body
  #header.round_corners= APP_NAME
  #auth
  #content= yield
